:root{
    --primaria: #fad1cb;
    --secundaria: #f2f5f7;
    --terciario: #ff8da1;
}

body{
    padding: 0;
    border: none;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    max-height: 100dvh;
    background:
        radial-gradient(circle at 10% 20%, var(--secundaria) 0%, transparent 20%),
        radial-gradient(circle at 90% 80%, #ff8da1 0%, transparent 20%),
        var(--primaria);
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 30px 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.perfil{
    display: flex;
    justify-content: center;
    width: 120px;
    height: auto;
    border-radius: 100%;
    animation: flutuar 5s infinite ease-in;
}

.perfil img{
    display: flex;
    justify-content: center;
    width: 180px;
    height: auto;
}

.container-links{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 10px;
}

.container-links a{
    list-style: none;
    text-align: center;
    transition: 0.2s ease-in-out ;
    background-color: transparent;
    border: 2px solid rgba(000, 000, 000, 0.2);
    padding: 20px 30px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    animation: luzes 7s infinite;
}

a:hover{
    transform: translateY(-3px);
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.4);
    color: #000000;
}

@keyframes luzes {
    0%, 100%{
        box-shadow: rgba(255, 146, 164, 0.2) 0px 5px 12px 0px;
    }
    50%{
        box-shadow: rgba(255, 146, 164, 0.2) 0px 3px 15px 0px;
    }
    25%, 75%{
        box-shadow: rgba(255, 146, 164, 0.7) 0px 5px 10px 0px;
    }
}


@keyframes flutuar {
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-5px);
    }
}